/* General Styles */

/* Reset default padding and margin */
* {
  box-sizing: border-box;
}

/* Make the body take full height and width */
body, html {
  height: 98vh;
  width: 98vw;
  background-color: #f0f0f0;
  overflow-x: clip;
}

/* Game container - The game area */
#root {
  width: 98vw; /* Use a percentage to make it responsive */
  height: 98vh; /* Use viewport height to make it responsive */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 98vh;
  background-color: #f0f0f0;
  font: 16px "Century Gothic", Futura, sans-serif;
}
.h1 {
  font-size: 36px;      /* ~2em relative to body text */
  font-weight: bold;    /* Bold text */
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

header {
  background-color: #96083e;
  color: white;
  padding: 1rem;
  min-width:100%;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

.game {
  display: grid;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.coverboard{
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: grid;
  width: calc((98vh - 237px)*1.1);
  max-width: calc((98vh - 237px)*1.1);
  max-height: calc((98vh - 237px));
  height: calc((98vh - 237px));
  gap: 0; /* Remove space between cells */
}

.number-buttons-container {
  display: grid;
  font-size: 7em;
  height: 100%;
  min-height:100%;
}

.board {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  aspect-ratio: 1; /* Maintain square aspect ratio */
}

.square {
  background-color: #fff;
  border: 2px solid #ccc;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s;
  /* Ensure squares fill the grid cell */
  box-sizing: border-box; /* Ensure border is included in element's width/height */
  aspect-ratio: 1; /* Keep squares square */
  min-height: 20px;
  font-size: 5em;
}

ol, ul {
  padding-left: 0;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.red-text {
  color: red;
}
.red-bg{
  background-color: rgb(241, 106, 174);
}
.light-bg{
  background-color: #fac5d2;
}

.board .square:nth-child(3n) {
  border-right: 3px solid #000; /* Bold vertical line every 3 cells */
}

.board .square:nth-child(9n + 1) {
  border-left: 3px solid #000; /* Bold left border every 9th cell */
}

.board .square:nth-child(-n+9) {
  border-top: 3px solid #000; /* Bold top line for the first row */
}

.board .square:nth-child(n+73):nth-child(-n+81),
.board .square:nth-child(n+19):nth-child(-n+27),
.board .square:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 3px solid #000; /* Bold bottom line for the last row */
}

.number-buttons {
  display: grid;
  justify-content: space-around;
  font-size: 5em;
}

.button {
  font-size: 4em;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0;
  cursor: pointer;
  aspect-ratio: 1;
}

@media (orientation: portrait) {
  .number-buttons-container {
    aspect-ratio: 10;
    grid-template-columns: repeat(10, 1fr);
    height: min(calc((98vh - 237px)/11),calc(98vw*0.1));
    min-height:min(calc((98vh - 237px)/11),calc(98vw*0.1));
    width: min(calc((98vh - 237px)*10/11),98vw);
    max-width: min(calc((98vh - 237px)*10/11),98vw);
  }
  .game{
    width: min(calc((98vh - 237px)*10/11),98vw);
  	max-width: min(calc((98vh - 237px)*10/11),98vw);
    height: min(calc(237px+98vw*1.1),98vh);
    max-height: min(calc(237px+98vw*1.1),98vh);
  }
  .coverboard{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: min(calc((98vh - 237px)*10/11),98vw);
    height: calc((98vh - 237px));
  	max-width: min(calc((98vh - 237px)*10/11),98vw);
  	max-height: calc(98vh - 237px);
  }
  .board{
    height:    min(calc((98vh - 237px)*10/11),98vw);  
    width:     min(calc((98vh - 237px)*10/11),98vw);
  	max-width: min(calc((98vh - 237px)*10/11),98vw);
    max-height:min(calc((98vh - 237px)*10/11),98vw);
  }
}
@media (orientation: landscape) {
  .number-buttons-container {
    aspect-ratio: 0.1;
    grid-template-rows: repeat(10, 1fr);
    height: calc(98vh - 237px);
    min-height:calc(98vh - 237px);
    width: calc((98vh - 237px)/10);
    max-width: calc((98vh - 237px)/10);
  }
  .game{
  	width: calc((98vh - 237px)*1.1);
  	max-width: calc((98vh - 237px)*1.1);
    height: 98vh;
    max-height: 98vh;
  }
  .coverboard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  	width: calc((98vh - 237px)*1.1);
  	max-width: calc((98vh - 237px)*1.1);
  	max-height: calc(98vh - 237px);
  	height: calc(98vh - 237px);
  }
  .board{
    max-height: calc(98vh - 237px);
    height: calc(98vh - 237px);  
    width:     calc((98vh - 237px));
  	max-width: calc((98vh - 237px));
  }
}
@media (max-width: 700px) {
  .square {
    font-size: 3em; /* Larger text on mobile for better visibility */
  }
}

@media (max-width: 400px) {
  .square {
    font-size: 1em; /* Larger text on mobile for better visibility */
  }
}
#levelSelector {
  margin-top: 20px;
}
#instruct{
  display: none;
}
.hiddenDiv{
  display: none;
}
.blockDiv{
  display: block;
}
.header_buttons{
  color: white;
  background-color: #96083e;
  /*margin-right: 10px;*/
  font-size: 1.5em;
  gap:10px;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}